extends header

block view
	.container
		.section(style="width: 30%; margin: auto;")
			.container
				h1 Create new activity
		.container
			form(role='form', action="/events/createEvent", method="post", style='max-width: 300px;margin:auto', encType="multipart/form-data")
				.form-group
					label.control-label Title
					input.form-control(placeholder='My Event', type='text', name="title")
				.form-group
					label.control-label Description
					input.form-control(type='text', placeholder='Funny description', name="description")
				.form-group
					label.control-label Select
					select.form-control(name="city")
						each city, i in cities
							option(value=city) #{city}
				.form-group
					label.control-label Text input
					input.form-control(type='text', placeholder='At the park', name="location")
				.form-group
					label.control-label Text input
					input.form-control(type='text', placeholder='YYYY-MM-DD', name="date")
				.form-group
					label.control-label Text input
					input.form-control(type='text', placeholder='HH-MM', name="hour")
				.form-group
					label.control-label Image
					input.form(type='file', name="image")
				.section
					.container
						button.btn.btn-default(style="margin-right: 10%", type='submit') Submit
						a(href='/')
							button.btn.btn-primary(type="button") Cancel