extends header

block view
	.container
		if (events)
			each event in events
				.event
					.thumbnail
						a(href='#{"/events/" + event.id}')
							img.img-responsive(src='#{ event.image || "media/noimage.jpg"}')
						.caption
							h3 #{event.title}
							p #{event.description}

		if (!events)
			p No events found