extends layout

block content
	if (!user)
		nav.navbar.navbar-inverse.navbar-fixed-top
			.container
				.navbar-header
					button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
					a.navbar-brand(href="/", style="font-family: Pacifico; font-size: 30px;color: white") Eventus
				#navbar.navbar-collapse.collapse
					form.navbar-form.navbar-right(role='form', action="/login", method="post")
						.form-group
							input.form-control(type='text', name="username", placeholder='Enter Username')
						| &nbsp;
						.form-group
							input.form-control(type='password', name="password", placeholder='Password')
						| &nbsp;
						button.btn.btn-success(type="submit") Sign in

		.container(style="margin-top:3%")
			center
				h1 Sign up
				h4 It's free and always will be
				br
				form(role='form', action="/signup",method="post", style='max-width: 300px; text-align: left', encType="multipart/form-data")
					.form-group
						input.form-control(type='text', name="username", placeholder='Enter Username', required)
					.form-group
						input.form-control(type='password', name="password", placeholder='Password', required)
					.form-group
						input.form-control(type='password', name="repeatPassword", placeholder='Rewrite the password', required)
					.form-group
						input.form-control(type='number', name="age", placeholder='Age', required)
					.form-group
						input.form-control(type='text', name="gender", placeholder='Man/Female', required)
					.form-group
						input.form-control(type='email', name="email", placeholder='example@domain.com', required)
					.form-group
						input.form(type='file', name="image")
					| &nbsp;
					button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign up
					br
					br
					a.btn.btn-lg.btn-block.btn-social.btn-facebook(href="/auth/facebook", role="button")
						i.fa.fa-facebook
						|  Sign in with Facebook
					a.btn.btn-lg.btn-block.btn-social.btn-twitter(href="/auth/twitter", role="button")
						i.fa.fa-twitter
						|  Sign in with Twitter
	if (user)
		.container(style="margin-bottom:3%")
			nav.navbar.navbar-inverse.navbar-fixed-top
				.container
					.navbar-header
						button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
						a.navbar-brand(href="/", style="font-family: Pacifico; font-size: 30px;color: white") Eventus

					#navbar.collapse.navbar-collapse
						ul.nav.navbar-nav
							li
								a(href="/") Home
							| &nbsp;
							li
								a(href="/events") Events
							| &nbsp;
							li
								a(href="/events/createEvent") Create event
							| &nbsp;
							li
								a(href="/profile") Profile
							| &nbsp
						ul.nav.navbar-nav.navbar-right
							li
								a(href="/logout") #{user.username} (Log out)
		block view
