doctype html
html
	head
		title= title
		script(type="text/javascript", src="/bower_components/jquery/dist/jquery.min.js")
		script(type="text/javascript", src="/bower_components/moment/min/moment.min.js")
		script(type="text/javascript", src="/bower_components/bootstrap/dist/js/bootstrap.min.js") 
		script(type="text/javascript", src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
		link(rel="stylesheet", href="/stylesheets/style.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Pacifico")
		link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css") 
		link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css") 
		link(rel="stylesheet", href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css")
	body
		block content
